* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.bookList {
  list-style: none;
  padding: 10px;
  display: block;
  margin: 10px auto;
  background-color: #fff;
}

.bookItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.bookItem h3 {
  color: #121212;
  font-size: 25px;
}

.bookItem small {
  color: #9fc1de;
}

.delete-btn {
  background-color: coral;
  padding: 5px 8px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 15%;
  margin-top: 0.5rem;
  color: #fff;
}

.BookCategory {
  color: #888;
  font-size: 20px;
}

@media (max-width: 600px) {
  .bookList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0%;
  }

  .delete-btn {
    width: 40%;
  }
}
