* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.bookList {
  list-style: none;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
  border-radius: 1rem;
  gap: 10rem;
}

.completed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.percent {
  display: grid;
  grid-template-columns: 1fr;
}

.chapter {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding-left: 15%;
  border-left: 1px solid darkgray;
}

.update-progress-btn {
  padding: 0.5rem 1.5rem;
  background-color: #0290ff;
  outline: none;
  border: none;
  color: #fff;
  margin-top: 1.5rem;
}

.current-chapter {
  color: #acacac;
  text-transform: uppercase;
  font-size: 15px;
}

.chpater-number {
  color: #6b6b6b;
}

.actual-percent {
  color: #121212;
  font-size: 25px;
  font-weight: bold;
}

.completed-text {
  color: #121212;
}

.bookItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.bookItem h3 {
  color: #121212;
  font-size: 25px;
}

.bookItem small {
  color: #9fc1de;
}

.btn-collection {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  flex: 1;
  padding: 0.5rem 0;
}

.btn-collection button {
  outline: none;
  border: none;
  color: #689ecb;
  padding: 0.5rem 1rem;
  font-size: 15px;
  margin-right: 0.5rem;
  border-right: 2px solid #f0eff0;
}

.BookCategory {
  color: #888;
  font-size: 20px;
}

@media (max-width: 600px) {
  .bookList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0%;
  }

  .delete-btn {
    width: 40%;
  }

  .chapter .current-chapter {
    margin-top: 1rem;
  }
}
